<ng-container>

  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>filtro</mat-label>
      <input matInput  formControl="text"  (keyup)="aplicarFiltro($any($event.target).value)" >
    </mat-form-field>
  </div>
</ng-container>
<div class="mat-elevation-z24">



  <table matSort mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="id">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element;"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element;"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element;"> {{element.author}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element;"> {{element.category }} </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr  mat-row *matRowDef="let row; columns: colunas;"></tr>

  </table>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="[1,2]" ></mat-paginator>
</div>
