.example-spacer {
  flex: 1 1 auto;
}

.sidenav{
  border:1px dashed dodgerblue;
  // background-color: #7e7e7e;
  width:300px;


}
.mat-sidenav-container{
  // border:3px solid crimson;
  height: 100vh;

}

.mat-sidenav-content{
  // border:4px solid orange;
  height: 98vh;

}



.title{
  margin-bottom: 500px;
}


.toolbar-menu{
  position:fixed;
  font-size: 1rem;
  top: 0;
}

.toolbar-submenu{
  height: 100px;
  font-size: 2rem;
  margin-top: 60px;
  border:1px solid red;
  
}























//

// .mySlider {
//   width: 500px !important;
// }
// .mySlider
//   .mdc-slider__thumb--with-indicator
//   .mdc-slider__value-indicator-container
//   .mdc-slider__value-indicator {
//   width: 200px;
// }
// .mySlider
//   .mdc-slider__thumb--with-indicator[ng-reflect-thumb-position='1']
//   .mdc-slider__value-indicator-container
//   .mdc-slider__value-indicator {
//   background-color: red;
// }
// .mySlider
//   .mdc-slider__thumb--with-indicator[ng-reflect-thumb-position='2']
//   .mdc-slider__value-indicator-container
//   .mdc-slider__value-indicator {
//   background-color: green !important;
// }


.mat-mdc-slider.mat-warn {
  --mdc-slider-handle-color: green;
   --mdc-slider-focus-handle-color: magenta;
   --mdc-slider-inactive-track-color:orange;
  }
  .mat-mdc-slider.mat-warn { --mdc-slider-active-track-color: grey; --mdc-slider-inactive-track-color: darkgrey; }



