

  <mat-sidenav-container>
    <mat-sidenav
    #sidenav
    [fixedInViewport]="true"
    class="sidenav"
    [opened]="!isSmallScreen"
    position="start"
    [mode]="sidenavMode"


    >

    </mat-sidenav>
    <mat-sidenav-content>
      <!-- BARRA DE FERRAMENTAS -->
      <mat-toolbar>
        <button mat-icon-button
        class="example-icon"
        (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      <!-- CONTEUDO -->
      <h2>Conteudo</h2>
    </mat-sidenav-content>
  </mat-sidenav-container>




<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<mat-slider
color="warn"

class="mySlider"
min="1" max="100" step="1" value="10">
  <input matSliderThumb>
</mat-slider>




<router-outlet></router-outlet>
