.example-spacer {
  flex: 1 1 auto;
}



//

// .mySlider {
//   width: 500px !important;
// }
// .mySlider
//   .mdc-slider__thumb--with-indicator
//   .mdc-slider__value-indicator-container
//   .mdc-slider__value-indicator {
//   width: 200px;
// }
// .mySlider
//   .mdc-slider__thumb--with-indicator[ng-reflect-thumb-position='1']
//   .mdc-slider__value-indicator-container
//   .mdc-slider__value-indicator {
//   background-color: red;
// }
// .mySlider
//   .mdc-slider__thumb--with-indicator[ng-reflect-thumb-position='2']
//   .mdc-slider__value-indicator-container
//   .mdc-slider__value-indicator {
//   background-color: green !important;
// }


.mat-mdc-slider.mat-warn {
  --mdc-slider-handle-color: green;
   --mdc-slider-focus-handle-color: magenta;
   --mdc-slider-inactive-track-color:orange;
  }
  .mat-mdc-slider.mat-warn { --mdc-slider-active-track-color: grey; --mdc-slider-inactive-track-color: darkgrey; }



